
.rochedo .dijitToggleButton .dijitRadio,
.rochedo .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/spriteRadio.gif');
}
.rochedo .dijitRadio,
.rochedo .dijitRadioIcon	{		
	background-image: url('../images/spriteRadio.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.rochedo .dijitRadio,
.rochedo .dijitToggleButton .dijitRadioIcon {
	
	background-position: -16px;
}
.rochedo .dijitRadioChecked,
.rochedo .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: 0px;
}
.rochedo .dijitRadioDisabled {
	
	background-position: -48px;
}
.rochedo .dijitRadioCheckedDisabled {
	
	background-position: -32px;
}
.rochedo .dijitRadioHover {
	
	background-position: -80px;
}
.rochedo .dijitRadioCheckedHover {
	
	background-position: -64px;
}
