
.rochedo .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.rochedo .dijitSplitContainer-child,
.rochedo .dijitBorderContainer-child {
	
    border: 1px #ccc solid;
}
.rochedo .dijitBorderContainer-dijitTabContainerTop,
.rochedo .dijitBorderContainer-dijitTabContainerBottom,
.rochedo .dijitBorderContainer-dijitTabContainerLeft,
.rochedo .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.rochedo .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0px;
}
.rochedo .dijitSplitterH,
.rochedo .dijitGutterH {
	background:#FCFCFC;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.rochedo .dijitSplitterH .dijitSplitterThumb {
	background:#8BA0BD none;
	height:1px;
	top:2px;
	width:19px;
}
.rochedo .dijitSplitterV,
.rochedo .dijitGutterV {
	background:#FCFCFC;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.rochedo .dijitSplitterV .dijitSplitterThumb {
	background:#8BA0BD none;
	height:19px;
	left:2px;
	width:1px;
}
.rochedo .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
