
.rochedo .dijitMenu,
.rochedo .dijitMenuBar {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.rochedo .dijitBorderContainer .dijitMenuBar {
	border: 1px #ccc solid;
}
.rochedo .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.rochedo .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.rochedo .dijitMenuPreviousButton, .rochedo .dijitMenuNextButton {
	font-style: italic;
}
.rochedo .dijitMenuItem TD {
	padding:1px;
}
.rochedo .dijitMenuPassive .dijitMenuItemHover,
.rochedo .dijitMenuItemSelected {
	background-color: #ffe284; 
	color: #243C5F;
}
.rochedo .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.rochedo .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url(../images/spriteRoundedIconsSmall.png);
	background-position: -30px top;
}
.dj_ie6 .rochedo .dijitMenuExpand {
	background-image:url(../images/spriteRoundedIconsSmall.gif);
}
.rochedo .dijitMenuSeparator {
	height: 1px;
}
.rochedo .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.rochedo .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.rochedo .dijitCheckedMenuItemIconChar {
	display: none;
}
.rochedo .dijitCheckedMenuItemIcon {
	background-image: url(../images/spriteCheckbox.gif);
	background-position: -80px;
}
.rochedo .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
.rochedo .dijitTabContainer .tabStripRBtn {
	margin-right: 21px;
}
.rochedo .dijitTabContainer .tabStripLBtn {
	margin-left: 21px;
}
.rochedo .dijitTabContainerBottom .nowrapTabStrip .dijitTab {
	top: 0px;
}
.rochedo .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}
.rochedo .dijitTabInnerDiv {
	padding:0px 3px 0px 0px;
	margin: 0 0 0 4px;
	background: url("../images/tabContainerSprite.gif") no-repeat;
	background-position: right -400px;
}
.rochedo .dijitTab {
	line-height:normal;
	margin:0 2px 0 0;	
	padding:0px;
	background: url("../images/tabContainerSprite.gif") no-repeat 0 -300px;
	color: #6d6d6d;
	border-bottom: 1px #ccc solid;
}
.rochedo .dijitTabInnerDiv .dijitTabContent {
	padding:3px 3px 3px 4px;
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -350px;
	position: relative;
}
.rochedo .dijitTabHover {
	color: #243C5F;
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -150px;
}
.rochedo .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -250px;
}
.rochedo .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -200px;
}
.rochedo .dijitTabChecked
{
	
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -0px;
}
.rochedo .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -100px;
}
.rochedo .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -50px;
	color: #243C5F !important;
}
.rochedo .dijitTabContainerNested .dijitTabListWrapper {
	height: auto;
}
.rochedo .dijitTabContainerTabListNested {
	background: #FDFDFD;
	border: none;
	margin-bottom: 0px;		
}
.rochedo .dijitTabContainerTabListNested .dijitTab {
	background: none;
	border: none;
	top: 0px;	
}
.rochedo .dijitTabContainerTabListNested .dijitTab .dijitTabInnerDiv,
.rochedo .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
	background: none;
}
.rochedo .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
	text-decoration: underline;
}
.rochedo .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
	text-decoration: underline;
	font-weight: bold;
}
.rochedo .dijitTabContainerSpacerNested {
	
	height: 0px;
	border-bottom: 0px;
}
.rochedo .dijitTabPaneWrapperNested {
	border: none;	
}
.rochedo .dijitTabCloseButton {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px top;
	width: 15px;
	height: 15px;
	margin-top: -1px;
}
.dj_ie6 .rochedo .dijitTabCloseButton {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px top;
}
.rochedo .dijitTabCloseButtonHover {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px -15px;
}
.dj_ie6 .rochedo .dijitTabCloseButtonHover {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px -15px;
}
.rochedo .dijitTab .tabLabel {
	
	min-height: 15px;
	display: inline-block;
}
.dj_ie6 .rochedo .dijitTabButtonIcon {
	
	height: 18px;
	width: 1px;
}
.rochedo .dijitTabContainerTop-tabs {
	border-bottom: none;
	padding-bottom: 1px;
	background-position: bottom;
	padding-left: 3px;
}
.dj_ie6 .rochedo .dijitTabListContainer-top,
.dj_ie7 .rochedo .dijitTabListContainer-top {
	z-index: 3;
}
.dj_ie6 .rochedo .dijitTabContainerTop-tabs,
.dj_ie7 .rochedo .dijitTabContainerTop-tabs {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0px;
}
.rochedo .dijitTabContainerTopNoStrip {
	padding-top: 3px;
}
.rochedo .dijitTabContainerTop-container {
	border-top: none;
}
.rochedo .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #f8f8f8;
}
.rochedo .dijitTabContainer .dijitTabContainerTopStrip {
	border-bottom: none;
	padding-top: 1px;
	margin-top: 1px;
	background: #f2f2f2;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.rochedo .dijitTabContainerBottom-tabs {
	border-top: none;
	background-position: top;
	padding-left: 3px;
}
.dj_ie6 .rochedo .dijitTabListContainer-bottom,
.dj_ie7 .rochedo .dijitTabListContainer-bottom {
	z-index: 3;
}
.dj_ie6 .rochedo .dijitTabContainerBottom-tabs,
.dj_ie7 .rochedo .dijitTabContainerBottom-tabs {
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
.rochedo .dijitTabContainerBottom-container {
	border-bottom: none;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTab {
	border-bottom: none;
	border-top: 1px solid #ccc;
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom left;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color: #f8f8f8;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabInnerDiv .dijitTabContent {
	padding-top: 3px;
	padding-bottom: 3px;
	background: url("../images/tabBottomEnabledC.gif") repeat-x bottom left;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom right;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabHover {
	color: #243C5F;
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom left;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom right;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomHoverC.gif") repeat-x bottom left;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabChecked {
	
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom left;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom right;
}
.rochedo .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomActiveC.gif") repeat-x bottom left;
}
.rochedo .dijitTabContainer .dijitTabContainerBottomStrip {
	border: 1px solid #ccc;
	background: #f2f2f2;
	border-top: none;
	padding-bottom: 2px;
}
.rochedo .dijitTabContainerBottom-spacer,
.rochedo .dijitTabContainerTop-spacer {
	height: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.rochedo  .dijitTabContainerTop-spacer {
	margin-top: -1px;
}
.rochedo .dijitTabContainerBottom-spacer {
	margin-bottom: -1px;
}
.rochedo .dijitTabContainerRight-tabs {
	border-color: #ccc;
	padding-top: 3px;
}
.rochedo .dijitTabContainerRight .dijitTabListWrapper {
	padding-right: 3px;
}
.rochedo .dijitTabContainerRight-container {
	border-right: none;
}
.rochedo .dijitTabContainerRight-tabs .dijitTab {
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #dedede !important;
}
.dj_ie .rochedo .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}
.rochedo .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color: #f8f8f8;
}
.rochedo .dijitTabContainerRight-tabs .dijitTabChecked {
	background: url("../images/tabRightChecked.gif") no-repeat left top !important;
}
.dj_ie .rochedo .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .rochedo .dijitTabContainerRight-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.rochedo .dijitTabContainerRight-tabs .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -350px;
}
.rochedo .dijitTabContainerRight-tabs .dijitTabHover .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -200px;
}
.rochedo .dijitTabContainerRightStrip {
	padding-right: 2px;
	border: 1px solid #ccc;
	border-left: none;
	background: #f2f2f2;
}
.rochedo .dijitTabContainerLeft-tabs {
	border-color: #ccc;
	padding-top: 3px;
}
.rochedo .dijitTabContainerLeft-container {
	border-left: none;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #dedede;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right: 1px solid #f8f8f8;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -350px;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -200px;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.rochedo .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	background: url("../images/tabLeftChecked.gif") no-repeat right top;
}
.dj_ie .rochedo .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .rochedo .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.dj_ie .rochedo .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}
.rochedo .dijitTabContainerLeftStrip {
	padding-left: 2px;
	border: 1px solid #ccc;
	border-right: none;
}
.rochedo .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}
.rochedo .dijitTabContainerLeft-tabs .dijitTab,
.rochedo .dijitTabContainerRight-tabs .dijitTab {
	margin-right:auto;
	margin-bottom:2px;	
}
.rochedo .dijitTabContainerLeft-spacer,
.rochedo .dijitTabContainerRight-spacer {
	width: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.rochedo .dijitTabContainerRight-spacer {
	border-right: none;
}
.rochedo .dijitTabContainerRight-tabs {
	padding-top: 3px;
	height: 100%;
}
.rochedo .dijitTabContainerLeft-tabs {
	height: 100%;
}
.rochedo .dijitTabContainerLeft-spacer {
	border-left: none;
}
.rochedo .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;
}
.rochedo .dijitTabContainer .tabStripButton {
	margin-right: 0px;
}
.rochedo .tabStripButton .dijitTabInnerDiv .dijitTabContent {
	padding: 5px 0 6px;
}
.dj_ie6 .rochedo .tabStripButton .dijitTabInnerDiv .dijitTabContent,
.dj_ie7 .rochedo .tabStripButton .dijitTabInnerDiv .dijitTabContent,
.dj_opera .rochedo .tabStripButton .dijitTabInnerDiv .dijitTabContent {
	padding-bottom: 7px;
}
.rochedo .tabStrip-disabled .tabStripButton .dijitTabInnerDiv .dijitTabContent {
	padding: 3px 0 5px;
}
.dj_ie6 .rochedo .tabStrip-disabled .tabStripButton .dijitTabInnerDiv .dijitTabContent,
.dj_ie7 .rochedo .tabStrip-disabled .tabStripButton .dijitTabInnerDiv .dijitTabContent,
.dj_opera .rochedo .tabStrip-disabled .tabStripButton .dijitTabInnerDiv .dijitTabContent {
	padding-top: 4px;
}
.rochedo .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(../images/spriteRoundedIconsSmall.png) no-repeat left top;
}
.dj_ie6 .rochedo .dijitTabStripIcon {
	background-image: url(../images/spriteRoundedIconsSmall.gif);
}
.rochedo .dijitTabStripSlideRightIcon {
	background-position: -30px top;
}
.rochedo .dijitTabStripMenuIcon {
	background-position: -15px top;
}
.rochedo .dijitTabContainerTopNone {
	padding-top: 0px;
}
.rochedo .dijitTabContainer .tabStripButton-top {
	margin-top: 1px;
}
.rochedo .dijitTabContainer .tabStripButton-bottom {
	background: transparent url(../images/tabBottomEnabledSpriteLR.gif) no-repeat scroll left bottom;
	border-bottom: medium none;
	border-top: 1px solid #CCCCCC;
}
.rochedo .dijitTabContainer .tabStripButton-bottom .dijitTabInnerDiv {
	background: transparent url(../images/tabBottomEnabledSpriteLR.gif) no-repeat scroll right bottom;
}
.rochedo .dijitTabContainer .tabStripButton-bottom .dijitTabContent {
	background: transparent;
}
