SetEnv APPLICATION_ENV development

SetEnv APPLICATION_DATABASE_DESENV_DBNAME AGILFAP2_DESENV_CARLOSNETO
SetEnv APPLICATION_DATABASE_DESENV_USERNAME agilfap2_desenv_carlosneto
SetEnv APPLICATION_DATABASE_DESENV_PASSWORD @agil2#facepe#carlosneto@
SetEnv APPLICATION_SYSTEM_LOGIN oWqV6S;f]JN3<juzB9iRwl1?rmL4CdATc[\eXMs8g@HtYxb=K:7p2QnG^Uy_v>kODEZF`0IhaP5

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]