
/* NO GUIDELINES EXIST YET ABOUT CSS FILES */
/* WRITE THIS FILE MANUALLY */
body
{
	background-color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 0.8em;
	color: #333333;
	padding: 0px 0px 0px 0px;
}

a img
{
	border: 0px;
}

.text {
	font-family: Arial, Verdana, sans-serif;
	font-size: 0.8em;
	color: #333333;
	padding: 0px 0px 0px 0px;
}

input
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 0.8em;
	color: #333333;
	padding: 0px 0px 0px 0px;
}

#menu_item 
{
	float:left;
	width:202px;
	margin-top:0px;
	text-align: left;
	font-size: 13px;
}

#menu_item a
{
	background-image: url("../img/menu3.gif");
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding-top: 7px;
	padding-left:10px;
	height:32px;
	width: 160px;
	border: 0px solid #1a5f50;
	color: black;
}

#menu_item a:hover
{
	background-image: url("../img/mhover3.gif");
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding-top: 7px;
	padding-left:10px;
	height:32px;
	width: 160px;
	border: 0px solid #1a5f50;
	color: white;
}

#menu_item_s 
{
    float:left;
    width:202px;
    margin-top:0px;
    text-align: left;
    font-size: 13px;
}

#menu_item_s a
{
    background-image: url("../img/mhover3.gif");
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-top: 7px;
    padding-left:10px;
    height:32px;
    width: 160px;
    border: 0px solid #1a5f50;
    color: white;
    font-size:90%;
}

#submenu_item {
	padding-bottom:5px;
	float:left;
	width:120px;
}

#submenu_item a
{
	float:left;
	background-image: url("../img/submenu3.gif");
	text-decoration: none;
	font-weight: bold;
	padding-left: 25px;
	padding-top:5px;
	width: 95px;
	height:22px;
	margin-left:10px;
	margin-top:1px;
	border: 0px solid #1a5f50;
	color: black;/*#556b88;*/
	font-size: 11px;
}

#submenu_item a:hover
{
	background-image: url("../img/subhover3.gif");
	color:#FFFFFF;
}

#left_region
{
	border-right: 2px solid;
	position: relative;
	top: 100px;
	left: -2px;
	float: left;
	width: 170px;
	padding-bottom: 50px;
}

#content
{
	top:30px;
	left: 30px;
	position: relative;
	float: left;
	width: 78%;
}

#content2
{
	top:100px;
	left: 20px;
	position: relative;
	float: left;
	width: 97%;
}

td.header
{
	background-color: #0C6AA8;
	font-weight: bold;
	font-size: 15px;
	padding-left:4px;
	padding-right:4px;
	border: 2px solid #000000;
	color:#FFFFFF;
}

table.admin
{
	width: 99%;
	height: 99%;
	border: 1px solid;
  border-color: black;
	border-collapse: collapse;
	text-align: center;
	margin-left: 6px;
  margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 3px;
}


table.admin tr {
	height:35px;
}

td.admin
{
	color:#000000;
	border: 1px solid;
 	border-color:#999999;
	border-collapse: collapse;
	vertical-align: center;
	font-size: 85%;
	padding-left:5px;
	padding-right:5px;
	font-weight:normal;
}

td.admin_l
{
    border: 1px solid;
    border-color:#999999;
    border-collapse: collapse;
    vertical-align: center;
    font-size: 95%;
    text-align:left;
    padding-left:10px;
}


input
{
	font-size: 80%;
}

textarea
{
	font-size: 80%;
}

input.kinenet
{
	margin-bottom: 0px;
	height: 20px;
}


table.wrapper
{
	color: #000;
	border: 0px;
	width:100%;
	align:center;
	background-color:white;
}


td.wrapper
{
	border: 0px;
	padding:0px;
	margin:0px;
}


td.wrapper h3 {
	color: #0066FF;
	padding-left:10px;
}


a.hiding {
    height:25px;
    width:25px;
    display:block;
    background-image:url("../img/arrow_left.jpg");
    background-repeat:no-repeat;
    float:right;
}

#showing_menu_bar {
	width:28px;
	height:550px;
	display:block;
	float:left;
	top:100px;
	position:relative;
	}

#inner_block {
	width:7px;
	
	float:left;
	height:550px;
	display:block;
	background-color:#00A9E8;
}

#showing_menu_bar a {
	background-image:url("../img/menunfold3.png");
	background-repeat:no-repeat;
	width:20px;
	height:92px;
	display:block;
	float:left;
}
