
.rochedo .dijitMenu,
.rochedo .dijitMenuBar {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.rochedo .dijitBorderContainer .dijitMenuBar {
	border: 1px #ccc solid;
}
.rochedo .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.rochedo .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.rochedo .dijitMenuPreviousButton, .rochedo .dijitMenuNextButton {
	font-style: italic;
}
.rochedo .dijitMenuItem TD {
	padding:1px;
}
.rochedo .dijitMenuPassive .dijitMenuItemHover,
.rochedo .dijitMenuItemSelected {
	background-color: #ffe284; 
	color: #243C5F;
}
.rochedo .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.rochedo .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-position: -30px top;
}
.dj_ie6 .rochedo .dijitMenuExpand {
	background-image:url('images/spriteRoundedIconsSmall.gif');
}
.rochedo .dijitMenuSeparator {
	height: 1px;
}
.rochedo .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.rochedo .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.rochedo .dijitCheckedMenuItemIconChar {
	display: none;
}
.rochedo .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -80px;
}
.rochedo .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
