
.rochedo .dijitTimePickerTick,
.rochedo .dijitTimePickerMarker {
	border-color: #eeeeee;
}
.rochedo .dijitTimePickerTick {
	color:white;
}
.rochedo .dijitTimePickerMarker {
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.rochedo .dijitTimePickerItemSelected {
	color: black;
	background: #ffe284 none;
}
.rochedo .dijitTimePickerItemHover {
	background: #d6d6dd none;
	color:black;
}
.rochedo .dijitTimePickerItemHover,
.rochedo .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.rochedo .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.rochedo .dijitTimePickerItemHover .dijitTimePickerItemInner,
.rochedo .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.rochedo .dijitTimePickerMarkerHover {
	border-top: 1px solid #eeeeee;
}
.rochedo .dijitTimePickerTickHover,
.rochedo .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
