
.dijitRtl .rochedo .dijitSliderProgressBarH,
.dijitRtl .rochedo .dijitSliderRemainingBarH,
.dijitRtl .rochedo .dijitSliderLeftBumper,
.dijitRtl .rochedo .dijitSliderRightBumper,
.dijitRtl .rochedo .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .rochedo .dijitSliderProgressBarV,
.dijitRtl .rochedo .dijitSliderRemainingBarV,
.dijitRtl .rochedo .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .rochedo .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .rochedo .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .rochedo .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}
.dijitRtl .rochedo .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
