#score {
	color: #000;
	font-size: 85%;
	position:absolute;
	text-align: center;
	width: 100px;
	z-index: 10;
}
#score,#rating,#standards {
	font-weight: bold;
}
#scorebar {
	background-image: url('../../../images/bg_strength_gradient.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	position:absolute;
	width: 100px;
	z-index: 0;
}
#scorebarBorder {
	visibility:hidden;
	background: #333;
	border: 1px #000 solid;
	height: 16px;
	margin-bottom: 2px;
	width: 100px;
}
#password {
	border: 1px #000 solid;
	font-size: 85%;
	width: 100px;
}
#tablePwdScoring {
	margin-bottom: 0 !important;
}
#listLegend li {
	list-style: none;
	padding-bottom: 4px;
	margin-left: 0;
	padding-left: 0;
}
#listLegend {
	margin-left: 0;
	padding-left: 0;
}
div.fail,div.pass,div.exceed,div.warn {
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
}
td.exceed,td.fail,td.pass,td.warn {
	color: #fff;
	font-weight: bold;
	text-align: center;
}